@model FinalProject.Models.Post


<body>
    <div id="tweet-body2">
        <form asp-action="EditPost" style="border-color:transparent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* Do not touch a tag input *@
            <input asp-for="Id" value="@ViewBag.PostId" hidden class="form-control" />

            @*user name of post*@
            <label class="UserNamePE">@ViewBag.name</label>

            @*post*@
            <textarea class="postText" asp-for="text"></textarea>


            @*Do not touch the asp-route-pageNumberOfPost="@ViewBag.pageNumberOfPost" inside a tag button*@
            <button type="submit" id="editbutton" asp-route-pageNumberOfPost="@ViewBag.pageNumberOfPost" asp-route-pageNumberOfSRT="@ViewBag.pageNumberOfSRT">Edit</button>

            @*Do not touch the asp-route-pageNumber="@ViewBag.pageNumber" and asp-route-isAuthenticated="true" inside a tag a*@
            <button asp-action="Profile" asp-controller="User" id="editbutton"
                    asp-route-pageNumberOfPost="@ViewBag.pageNumberOfPost" asp-route-pageNumberOfSRT="@ViewBag.pageNumberOfSRT" asp-route-isAuthenticated="true">
                Cancel
            </button>

        </form>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

