@*Do not touch the model and using*@  
@using PagedList;
@model IPagedList<FinalProject.Models.Post>

<body>

    @* event click to show the view of NewPost
        Do not touch the variable id="newPostbtn" and pageNumber=@Model.PageNumber inside a tag input  *@
    <input type="submit" class="button button1" id="newPostbtn" value="NewPost" pageNumber=@Model.PageNumber />

    @* place to show the view of NewPost
        Do not touch the variable id="newPost" inside a tag div  *@
    <div id="newPost"></div>



    @foreach (var item in Model)
    {


    <div class="tweet-body">

        @*user name of post*@
        <label>@item.name</label>

        @*post*@
        <p class="postText">@item.text</p>


        @*event click to show the view of NewComment
        Do not touch the variable id="reply" and PostId="@item.Id" and pageNumber=@Model.PageNumber inside a tag input*@
        <input type="submit" class="button button2" id="reply" PostId="@item.Id" value="NewReply" pageNumber=@Model.PageNumber />
    </div>


        <div class="tweet-body comments">
            @if (item.comList != null)
            {
                @foreach (var comment in item.comList)
                {

                    //user name of comment to user name of post
                    <label>@comment.name to @item.name</label>


                    //comment
                    <p>@comment.text</p>


                }

            }
        </div>


    }

    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination" style="margin-left: 400px">

            @*Do not touch the variable asp-action="Home",asp-route-pageNumber="@(Model.PageNumber - 1)" ,
                asp-route-isAuthenticated="true" inside a tag a*@

            @if (Model.PageNumber > 1)
            {
                <a asp-action="Home"
                   asp-route-pageNumber="@(Model.PageNumber - 1)" asp-route-isAuthenticated="true">
                    Previous
                </a>
            }

            @if (Model.PageCount != 0)
            {
                <label>  Page @Model.PageNumber of @Model.PageCount </label>
            }


            @if (Model.PageNumber < Model.PageCount)
            {
                <a asp-action="Home"
                   asp-route-pageNumber="@(Model.PageNumber + 1)" asp-route-isAuthenticated="true">
                    Next
                </a>
            }
        </div>
    </div>



    <form id="myform" asp-controller="Comment" asp-action="NewComment">
        @*place to show the view of NewComment
            Do not touch the variable id="NewComment" inside a tag div*@
        <div id="NewComment"></div>
    </form>

</body>

